html,body {
  margin: 0; /* Margen 0 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', /* Estilos de la letra */
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #282c34; /* Color del body */
  color: white; /* El color de la letra */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', /* Estilo de letra */
    monospace;
}

.main-layout { /* Clase, que nos muestra todo del lado derecho */
  display: flex; /* Para poderlo mover, hacia la derecha y que aparezca */
  flex-direction: row; /* Para que este el fila */
}

nav { /* Esta es la barra de navegacion a la izquierda */
  background-color: #363a45; /* Color de Fondo */
  height: 100vh; /* La altura mide un 100 de vista de la pagina */
  margin-right: 15px; /* Se pone un margen hacia la derecha de donde esta el texto */
  overflow-y: scroll;
  text-align: center; /* Texto centrado */
  width: 250px;  /* Anchura del aside del nav */
}

nav ul { /* Para los elementos ul */
  align-items: center; /* Que esten al centro */
  display: flex; /* Para que se puedan mover */
  flex-direction: column; /* Que esten en columnas, hacia abajo */
  justify-content: center; /* Que el contenido este centrado */
  padding-left: 0; /* Que esten super centrado */
}

nav li { /* Para las listas, del lado izquierdo */
  list-style: none; /* Para que no salga el icono al lado de la lista */
  margin-bottom: 10px; /* El margen hacia abajo */
}

nav li a { /* Para darle un formto como tamaño y color */
  color: grey; /* Para cada elemento color gris si no esta seleccionado */
  font-size: 1.2rem; /* Tamaño del texto */
  text-decoration: none; /* Que no tenga ninguna decoracion, como por ejemplo el subrayado */
}

.nav-active { /* Para cuando lo hayas seleccionado */
  color: white; /* Que cuando este activo, este color blanco */
  transition: all .3s ease-out; /* El efecto de cuando selecciono otro elemento */
}