

body { 
    padding: 50px; /*Es el Relleno que tiene el espacio*/
}

/* Este es el numero de la lista y la tarea */
p {
    cursor: pointer;
    margin: 0px;
}

/* Aqui es donde se muestra la lista de tareas, pero esto es el boton */
.list-group-item { 
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* Si esta esta en true, entonces ponle una linea que pase por enmedio y retorna la clase complete */
.complete { 
    text-decoration: line-through;
}